<div class="sky-background w-full h-screen" >
  <div class="flex flex-col items-center justify-center h-screen">
    <h1 class="text-3xl md:text-5xl font-bold mb-6 text-white">
    お空共有アプリ
    </h1>
  <!-- サブタイトル -->
    <p class="text-xl md:text-1xl mb-8 font-light leading-relaxed text-white text-center">
      ついつい撮ってしまう<br class="sm:hidden">
      お空の写真<br class="sm:hidden">
      共有しませんか？
    </p>
  </div>
</div>
