<div class="border-t border-gray-200 ">
  <div class="container mx-auto px-4 py-3 text-center">
    <p class="text-gray-400 text-xs mb-2">
      © 2025 SkyPhotos All rights reserved.
    </p>
    <ul class="flex justify-center space-x-6 text-[10px] text-gray-500">
      <li><%= link_to t('footer.top'), root_path, class: "hover:text-gray-700" %></li>
      <li><%= link_to t('footer.admin_page'), rails_admin_path, class: "hover:text-gray-700" %></li>
      <li><%= link_to t('footer.privacy_policy'), "#", class: "hover:text-gray-700" %></li>
    </ul>
  </div>
</div>