<div id="emo_count_for_post_<%= post.id %>">
  <%= button_to "ðŸ©µã‚¨ãƒ¢ã—", emo_reactions_post_path(post),
      id: "emo-button-for-post-#{post.id}",
      method: :patch,
      class: "text-2xl hover:scale-110 transition" %>
  <div class="text-pink-600"><%= post.emo_count %></div>
</div>